/* Variabili Tema COOP ================================================ */
/*$dark: #292929;*/
$dark: #111111;
$gray-light-60: #7d7d7d;
$gray-light-50: #c2c6c9;
$gray-light-40: #e9ebe9;
$gray-light-30: #dadada;
$gray-light-20: #f1f1f1;
$gray-light-10: #f8f8f8;
$neutral-gray-40: #c8cacc;
$neutral-gray-10: #f3f4f5;
$gray-sky-blue-20: #c4d5ee;
$dark-blue: #163b73;
$eco: #0db868;
$red-20: #f1aaaa;
$red-40: #f54251;
$red-50: #c31111;
$red-60: #c00;
$red-70: #900;
$white: #fff;
$rgba: rgba(204, 0, 0, 0.04);

$sky-blue-40: #0091f0;
$sky-blue-60: #158db4;
$yellow-50: #e8b025;
$yellow-40: #ffd100;
$disabled: #eaeaea;
$costa-fill: rgba(0, 0, 0, 0.04);
$costa-background: #f9f9f9e5;

/* Variabili Generali =================================================== */
$font-primary: "Poppins";
$font-color: $dark;
$bg-color: #fff;
$bg-dialog: $gray-light-10;
$bg-banner: $gray-sky-blue-20;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$border-radius: 10px;
$green-success: #13c55a;
$warning: #f6d61c;
$tertiary: #f25a50;
$color-primary: $sky-blue-40;
$color-secondary: $yellow-40;
$disabled: #eaeaea;

