/* You can add global styles to this file, and also import other style files */
@import "./styles/fonts";
@import "./styles/variables";
@import "./styles/theme";

/* Formatter =================================================== */
body {
  margin: 0;
  padding: 0;
  color: $font-color;
  background: $bg-color;
  font-family: $font-primary;
  font-size: 0.875rem;
  font-weight: 300;
  text-decoration: none;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:focus,
a:active,
button:focus,
button:active {
  outline: 0;
}

button:hover,
button:focus {
  outline: 0;
}

.clear {
  clear: both;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 600;
}

h5 {
  font-weight: 600;
}

h6 {
  font-weight: 600;
}

p {
  font-size: 16px;
  margin-bottom: 0.5rem;
}

b {
  font-weight: 600;
}

ul {
  padding: 0;
  margin: 0;
}

.form {
  margin-bottom: 30px;

  .fieldset {
    margin-bottom: 1.5rem;

    input {
      width: 100%;
    }
  }
}

// ScrollBar ===================================================

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $dark;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:horizontal {
  border-top: 0;
  border-bottom: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
}

// CARDS ==========================================================
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  // padding: 30px 30px 0 30px;
  scroll-snap-align: start;
  transition: all 0.2s;
  margin: 8px;
  flex: 0 0 100%;
  padding: 30px;

  &.active {
    background: white;
  }

  &.disabled {
    background: $disabled;

    &:hover {
      cursor: not-allowed;
    }
  }

  &.complete-res {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.05);
    padding: 16px;
  }
}

// EXTERNAL PAGE ==========================================================
#main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: calc(100vh);

  &.external {
    justify-content: center;
  }

  .section {
    display: flex;
    justify-content: stretch;
    height: 100%;
    flex: 1 1 auto;

    .content-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: stretch;
      justify-content: space-between;

      .content-header {
        // padding: 24px 24px 0;
        margin-bottom: 32px;
      }

      .content {
        padding: 20px 24px;
      }

      .buttons {
        padding: 20px 24px;
        border-top: 1px solid #dcdee0;
        box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.05);
        position: sticky;
        bottom: 0;
      }
    }
  }
}
